


a {
    text-decoration: none;
    color: white;
}

    a:hover {
        color: red;
    }

    a:active {
        color: black;
        animation-delay: 10s;
    }

li {
    list-style: none;
}

h3 {
    color: red;
    font-weight: bold;
}

/*css cho gridview*/
table > tbody > tr > td:hover {
    background-color: #eab086;
    color: rgb(255, 0, 0);
}
